<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    点击图标插入表情
</div>
<div class="content">
    <span class="emoji emoji1f466" title="boy"></span>
    <span class="emoji emoji1f600" title="grinning face"></span>
    <span class="emoji emoji1f601" title="grinning face with smiling eyes"></span>
    <span class="emoji emoji1f602" title="face with tears of joy"></span>
    <span class="emoji emoji1f603" title="smiling face with open mouth"></span>
    <span class="emoji emoji1f604" title="smiling face with open mouth and smiling eyes"></span>
    <span class="emoji emoji1f605" title="smiling face with open mouth and cold sweat"></span>
    <span class="emoji emoji1f606" title="smiling face with open mouth and tightly-closed eyes"></span>
    <span class="emoji emoji1f60a" title="smiling face with smiling eyes"></span>
    <span class="emoji emoji1f60b" title="face savouring delicious food"></span>
    <span class="emoji emoji1f60c" title="relieved face"></span>
    <span class="emoji emoji1f60d" title="smiling face with heart-shaped eyes"></span>
    <span class="emoji emoji1f60e" title="smiling face with sunglasses"></span>
    <span class="emoji emoji1f60f" title="smirking face"></span>
    <span class="emoji emoji1f612" title="unamused face"></span>
    <span class="emoji emoji1f613" title="face with cold sweat"></span>
    <span class="emoji emoji1f614" title="pensive face"></span>
    <span class="emoji emoji1f616" title="confounded face"></span>
    <span class="emoji emoji1f618" title="face throwing a kiss"></span>
    <span class="emoji emoji1f61a" title="kissing face with closed eyes"></span>
    <span class="emoji emoji1f61c" title="face with stuck-out tongue and winking eye"></span>
    <span class="emoji emoji1f61d" title="face with stuck-out tongue and tightly-closed eyes"></span>
    <span class="emoji emoji1f61e" title="disappointed face"></span>
    <span class="emoji emoji1f620" title="angry face"></span>
    <span class="emoji emoji1f621" title="pouting face"></span>
    <span class="emoji emoji1f622" title="crying face"></span>
    <span class="emoji emoji1f623" title="persevering face"></span>
    <span class="emoji emoji1f624" title="face with look of triumph"></span>
    <span class="emoji emoji1f625" title="disappointed but relieved face"></span>
    <span class="emoji emoji1f628" title="fearful face"></span>
    <span class="emoji emoji1f629" title="weary face"></span>
    <span class="emoji emoji1f62a" title="sleepy face"></span>
    <span class="emoji emoji1f62b" title="tired face"></span>
    <span class="emoji emoji1f62d" title="loudly crying face"></span>
    <span class="emoji emoji1f630" title="face with open mouth and cold sweat"></span>
    <span class="emoji emoji1f631" title="face screaming in fear"></span>
    <span class="emoji emoji1f632" title="astonished face"></span>
    <span class="emoji emoji1f633" title="flushed face"></span>
    <span class="emoji emoji1f635" title="dizzy face"></span>
    <span class="emoji emoji1f637" title="face with medical mask"></span>
    <span class="emoji emoji263a" title="white smiling face"></span>
    <span class="emoji emoji1f494" title="broken heart"></span>
    <span class="emoji emoji1f495" title="two hearts"></span>
    <span class="emoji emoji1f496" title="sparkling heart"></span>
    <span class="emoji emoji1f497" title="growing heart"></span>
    <span class="emoji emoji1f498" title="heart with arrow"></span>
    <span class="emoji emoji1f499" title="blue heart"></span>
    <span class="emoji emoji1f344" title="mushroom"></span>
    <span class="emoji emoji1f345" title="tomato"></span>
    <span class="emoji emoji1f346" title="aubergine"></span>
    <span class="emoji emoji1f347" title="grapes"></span>
    <span class="emoji emoji1f348" title="melon"></span>
    <span class="emoji emoji2714" title="heavy check mark"></span>
    <span class="emoji emoji2716" title="heavy multiplication x"></span>
    <span class="emoji emoji2648" title="aries"></span>
    <span class="emoji emoji2649" title="taurus"></span>
    <span class="emoji emoji264a" title="gemini"></span>
    <span class="emoji emoji264b" title="cancer"></span>
    <span class="emoji emoji264c" title="leo"></span>
    <span class="emoji emoji264d" title="virgo"></span>
    <span class="emoji emoji264e" title="libra"></span>
    <span class="emoji emoji264f" title="scorpius"></span>
    <span class="emoji emoji2650" title="sagittarius"></span>
    <span class="emoji emoji2651" title="capricorn"></span>
    <span class="emoji emoji2652" title="aquarius"></span>
    <span class="emoji emoji2653" title="pisces"></span>
</div>
</div>